@font-face {
    font-family: "Letter Sketch";
    src: url('fonts/Lettersketch-ow1wV.ttf');
}
h1 {
    position: absolute;
    text-align: center;
    color: white;
    font-family: "Letter Sketch";
    font-size: 5vw;
    margin-left: 34vw;
}
body {
    margin: 0 auto;
    background-image: url('bg.jpg');
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}
#main {
    display: flex;
    align-items: center;
}
.news {
    background-color: white;
    width: 40vw;
    height: 30vw;
    align-self: center;
    border-radius: 2vw;
    opacity: 30%;
    margin-left: 30vw;
    margin-top: 12vw;
}