@font-face {
    font-family: "Letter Sketch";
    src: url('fonts/Lettersketch-ow1wV.ttf');
}
h1 {
    position: absolute;
    text-align: center;
    color: white;
    font-family: "Letter Sketch";
    font-size: 5vw;
    margin-left: 34vw;
}
.container {
    position: relative;
    text-align: center;  
}
body {
    margin: 0 auto;
    background-color: rgb(5, 5, 5);
}
#background{
    object-fit: cover;
    max-width: 100%;
    z-index: -1;
}
#bg-audio {
    position: absolute;
    margin: 0 auto;
    z-index: +1;
}
#aud-icon{
    position: absolute;
    margin-left: 1vw;
    margin-top: 1vw;
    z-index: +1;
    max-width: 2vw;
    cursor: pointer;
}